<div class="panel">
  <h3>Detalhes</h3>
  <div class="panel_contents">
    <div class="attributes_table customer" id="attributes_table_customer_26">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th>Saldo</th>
          <td><%= @customer.balance %></td>
        </tr>
        <tr>
          <th>Nome:</th>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th>Total vendas:</th>
          <td><%= @customer.total_orders %></td>
        </tr>
        <tr>
          <th>Vendas feitas:</th>
          <td>
                <% @customer.orders.each do |order| %>
                  <%= order.created_at.strftime("%d/%m/%Y") %> - <%= order.product_name %> => <%= order.total %>
                  <br />
                <% end %>
          </td>
        </tr>
        <tr>
          <th>Histórico de créditos:</th>
          <td>
              <% @customer.credits.each do |credit| %>
                  <%= credit.created_at.strftime("%d/%m/%Y") %> => <%= credit.value %><br />
              <% end %>
          </td>
        </tr>
        <tr>
          <th>Histórico de débitos:</th>
          <td>
              <% @customer.debits.each do |debit| %>
                  <%= debit.created_at.strftime("%d/%m/%Y") %> => <%= debit.value %><br />
              <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
