<p id="notice"><%= notice %></p>
<p><b>Saldo devedor:</b> <%= @customer.balance_due %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
    <b>Vendas não pagas:</b><br />
    <% @customer.unpaid_orders.each do |order| %>
        Produto: <%= order.product_name %><br />
        Dia: <%= order.created_at.strftime("%d/%m/%Y") %><br />
        Quantidade: <%= order.quantity %> | Total: <%= order.total %>
        <hr>
    <% end %>
</p>



<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
