<p id="notice"><%= notice %></p>
<p><b>Saldo:</b> <%= @customer.balance %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
    <b>Vendas não pagas (Total de <%= @customer.total_unpaid_orders %>):</b><br />
    <% @customer.unpaid_orders.each do |order| %>
        <%= order.created_at.strftime("%d/%m/%Y") %> - <%= order.product_name %> => <%= order.total %> |
        <%= link_to 'Edit', edit_order_path(order) %>
        <br />
    <% end %>
</p>

<p>
    <b>Vendas feitas (Total de <%= @customer.total_paid_orders %>):</b><br />
    <% @customer.paid_orders.each do |order| %>
        <%= order.created_at.strftime("%d/%m/%Y") %> - <%= order.product_name %> => <%= order.total %>
        <br />
    <% end %>
</p>

<p>
    <b>Histórico de créditos (<%= "#{@customer.total_unused_credits} não usados de #{@customer.total_credits}" %>) :</b><br />
    <% @customer.credits.each do |credit| %>
        <%= credit.created_at.strftime("%d/%m/%Y") %> => <%= credit.value %> | (<%= credit.used? ? "Usado" : "Não usado" %>)
         | <%= link_to 'Utilizar crédito', edit_credit_path(credit) unless credit.used? %><br />
    <% end %>
</p>



<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
