<h1>Listing credits</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @credits.each do |credit| %>
  <tr>
    <td><%= credit.customer_id %></td>
    <td><%= credit.value %></td>
    <td><%= link_to 'Show', credit %></td>
    <td><%= link_to 'Edit', edit_credit_path(credit) %></td>
    <td><%= link_to 'Destroy', credit, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Credit', new_credit_path %>
